<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add</title>
</head>

<body>
    <h1>inscription de joueurs</h1>

    <a href="/">Chercher Joueurs</a>

    <form action="/add" method="post">
        <label for="pseudo">Pseudo:</label>
        <input type="text" name="pseudo" id="pseudo" required><br>

        <label for="age">Age:</label>
        <input type="number" name="age" id="age" required><br>

        <label for="Jeux_1">Jeu 1:</label>
        <input type="text" name="Jeux_1" id="Jeux_1" required><br>

        <label for="Jeux_2">Jeu 2:</label>
        <input type="text" name="Jeux_2" id="Jeux_2"><br>

        <label for="Jeux_3">Jeu 3:</label>
        <input type="text" name="Jeux_3" id="Jeux_3"><br>

        <button type="submit" value="Ajouter joueur">Ajouter joueur</button>
    </form>
</body>

</html>