<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>

<body>
    <h1>Chercher joueurs</h1>

    <a href="/add">ajouter Joueurs</a>

    <form action="/search" method="post">

        <label for="pseudo">pseudo:</label>
        <input type="text" name="pseudo"><br>

        <label for="age">Age:</label>
        <input type="number" name="age"><br>

        <label for="Jeux_1">Jeu 1:</label>
        <input type="text" name="Jeux_1"><br>

        <label for="Jeux_2">Jeu 2:</label>
        <input type="text" name="Jeux_2"><br>

        <label for="Jeux_3">Jeu 3:</label>
        <input type="text" name="Jeux_3"><br>

        <input type="submit" value="chercher">
    </form>
</body>

</html>